.bs-docs-footer {
    background-color: #2a2730;
    color: #99979c;
    margin-top: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}
.bs-docs-footer a {
    color: #fff;
}
.bs-docs-footer-links {
    margin-bottom: 20px;
    padding-left: 0;
}
.bs-docs-footer-links li {
    display: inline-block;
}
.bs-docs-footer-links li + li {
    margin-left: 15px;
}

/* General ClioPatria page layout
*/

.content
{ margin-top: 10px;
}

a.logo
{ margin-right: 5px;
}

a.logo img
{ height: 24px;
}

a.logo img:hover
{ outline: 1px solid blue;
}

address.footer {
  margin-top: 1ex;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #A0A0A0;
  font-size: smaller;
  text-align: right;
}

address.footer img {
  padding-left: 5px;
  border: 0;
  height: 1.2em;
  vertical-align: top;
}

div.messages, div.textbox
{ border-width: 1px;
  border-style: dotted;
  border-color: #A0A0A0;
  padding: 5px;
  margin-top: 2ex;
  margin-left: 5%;
  width: 90%;
  overflow-x: auto;
}

div.messages pre
{ margin: 0px;
}

.msg_informational
{ color: #007f00;
}

.msg_warning
{ color: #ca0000;
}

.msg_error
{ color: #ca0000;
  font-weight: bold;
}

#smiley-thinking
{ float: left;
}

p.footnote
{ font-size: smaller;
}

option.change
{ color: red;
}

dl {
  margin-left: 5%;
}

dl dt {
  font-weight: bold;
}

input.gaction {
  width: 7em;
}


		 /*******************************
		 *	       TABLES		*
		 *******************************/

td.int {
  text-align: right;
}

td.empty, td.int_c {
  text-align: center;
}

table.block th.total {
  text-align: right;
}

table.block a.resort {
  color: #000;
  text-decoration: none;
}

table.block a.resort:hover {
  color: #00f;
  text-decoration: underline;
}

table.block a.sorted {
  color: #000;
  text-decoration: underline;
}

table.block th.p_name {
  text-align: right;
}


		 /*******************************
		 *	   AUTO-COMPLETE	*
		 *******************************/

span.acmatch
{ background-color: #bbf;
}

div.ac_input .yui-ac-content
{ max-height:30em;
  overflow:auto;
  overflow-x:hidden; /* set scrolling */
  _height:30em; /* ie6 */
}

span.ac-builtin
{ color: blue;
}

span.ac-module
{ color: #888;
}

span.ac-exported
{ color: dark-green;
}

span.ac-private
{ color: red;
}

#search_form
{ float: right;
}

		 /*******************************
		 *	       LOGIN		*
		 *******************************/

div.rdfql-login
{ margin-bottom: 2em;
}

div.local-login, div.openid-login
{ margin-top: 3em;
  padding: 5px;
  border-style: dashed;
  border-width: 1px;
}

div.local-login form
{ margin-top: 1em;
  margin-left: 5%;
}


		 /*******************************
		 *	     QUERY FORM		*
		 *******************************/

form.query
{ margin-top: 4ex;
}

form.query h3
{ padding-left: 5%;
  background-color: #b9daff;
}

form.query td.qnostore
{ text-align: right;
  color: #aaa;
}

table.query
{ margin-top: 1ex;
  margin-left: 5%;
  width: 90%;
}

table.query textarea
{ width: 100%;
  height: 30ex;
}

table.query span.label
{ font-size: smaller;
}


		 /*******************************
		 *	       LINKS		*
		 *******************************/

a.img img
{ border-width: 0px;
}

img.in-text
{ height: 1em;
}
